:root{
     --social_margin:30px;
     --location_size:20px;
     --header_height:30px;
}
/*---------------------------body------------------------*/
body{background:#a8a8e7;margin:0px;}

header{position:sticky;height:var(--header_height);width:100%;
    left:0px;top:0px;background:black;text-align:center;
    text-align:center;padding:12px;
    background:green;margin-left:none;margin:0px;
}


/* styling for icons logos
#facebook,#insta, #x, #youtube, #linkdin{position:relative;
    height:var(--social_margin);width:var(--social_margin);
    background:none;display:block;
    border-radius:360px;margin:2px;
    width:var(--social_margin);object-fit:fill;
    border:1px solid black; sa
}
*/
/*--------------------------- social logo----------------- */
.logo{position:relative;
    height:var(--social_margin);width:var(--social_margin);
    background:none;display:block;
    border-radius:360px;margin:2px;
    width:var(--social_margin);object-fit:fill;
    border:none;
}
/*used here to fit images into div content perfectly*/
.logo img{
    width:100%;
    height:100%;
    object-fit:fill;
}

button{background:black;border:1px solid black;
    border-radius:3px;margin:3px;padding:5px;color:white;
}
/* menu */

.menu{content:'';position:relative;height:5px;width:30px;background:red;border-radius:5px;
}
.menu::before{content:'';position:relative;height:5px;display:block;
    width:30px;background:pink;border-radius:5px;top:12px;
}
.menu::after{content:'';position:relative;height:5px;display:block;
    width:30px;background:yellow;border-radius:5px;top:20px;
}

/* ---------------------status item------------------------------- */
container{position:absolute;}

#item_container{position:relative;height:auto;width:auto;
    background:#0000ff;padding:5px;display:flex;}

#item{height:auto;width:fit-content;background:grey;
    margin:2px;padding:5px;border-radius:5px;margin-left:10px;
}

status{position:relative;display:block;}

/* ------------------------footer--------------------------------*/
footer{position:sticky;text-align:center;
     bottom:0px;left:0px;display:block;
        background:white;padding:15px;
        width:100%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
#social_container{position:absolute;height:fit-content;
    background:none;display:flex;width:100%;
    justify-content:center;
    padding:1.5px;
}

status{position:sticky;}

/*
commented out CSS
*/