:root{
     --body:#afafaf;
     --header:#404040;
     --footer:#646464;
     --social_margin:20px;
     --location_size:20px;
     --header_height:30px;
     --menu_color:white;
     --item_color:orange;
     --item_container:grey;
     --light:white;
     --dark:black;
}
/*---------------------------body start------------------------*/
body{background:var(--body);margin:0px;}

button{background:var(--dark);border:1px solid var(--dark);
    border-radius:5px;margin:0px;padding:5px;color:var(--light);
}
right{position:absolute;right:10px;
    top:15px;color:var(--light);
    font-size:15px;
    }
/* ------------------------header------------------------------- */
header{display:block;
    position:relative;height:30px;width:auto;
    left:0px;top:0px;background:var(--dark);text-align:center;
    text-align:center;padding:12px;
    background:var(--header);margin-left:none;margin:0px;
}
.menu{content:'';position:relative;height:5px;width:30px;background:var(--menu_color);border-radius:5px;
}
.menu::before{content:'';position:relative;height:5px;display:block;
    width:30px;background:var(--menu_color);border-radius:5px;top:12px;
}
.menu::after{content:'';position:relative;height:5px;display:block;
    width:30px;background:var(--menu_color);border-radius:5px;top:20px;
}
/* ----------------------header ends here-------------------------- */

/* ---------------------displaying content---------------------- */










/*--------------------------- social logo----------------- */
.logo{position:absolute;
height:var(--social_margin);width:var(--social_margin);
    background:none;display:block;
    border-radius:360px;margin:2px;
    width:var(--social_margin);object-fit:fill;
    border:none;
}

/*used here to fit images into div content perfectly*/
.logo img{
    width:100%;
    height:100%;
    object-fit:fill;
}

.button{background:black;border:1px solid black;
    border-radius:3px;margin:3px;padding:10px;color:var(--light);
}


/* ---------------------status item------------------------------- */
container{position:relative;background:greenyellow;}

#item_container{position:relative;height:auto;width:100%;
    background:var(--item_container);display:flex;}

#item{height:50px;width:50px;background:var(--item_color);
    margin:2.5px;padding:.25px;border-radius:360px;
    margin-left:10px;align-content:center;
    text-align:center;line-height:50px;
    border:1px solid var(--item_color);
    margin-top:5px;
    margin-bottom:5px;
}

status{position:relative;display:block;}
/* ------------------------status item ends -------------------------- */
/* -----------------displaying content ends here---------------------- */

/* ------------------------footer start--------------------------------*/
footer{display:block;
    text-align:center;
     bottom:0px;left:0px;
        background:var(--footer);padding-top:15px;
        padding-bottom:15px;
        width:100%;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
#social_container{position:relative;height:fit-content;
    background:;display:flex;width:100%;
    justify-content:center;
    padding:1.5px;
}

status{position:sticky;}

/* ---------------------------footer ends here--------------------------- */
/*----------------------index.html body ends here------------------------*/

/*
commented out CSS
*/
/* index html ends here */

/* game file starts here */

#game_button{background:black;height:auto;width:auto;  
    border-radius:3px;margin:3px;
    padding:5px;color:white;
    font-size:19px;border:none;
}

#game_start_menu{position:absolute;
    background:#a8a8e7;
    display:block;height:auto;width:100%;
    justify-content:center;
    align-items:center;background:pink;
}